*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .produkt {
    text-align: center;
    width: 180px; /* Ograniczenie szerokości kontenera */
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    transition: transform 0.3s, box-shadow 0.3s;
}
.produkty {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px;
}


.produkt img {
  max-width: 100%; /* Dopasowanie obrazu do szerokości kontenera */
  max-height: 150px; /* Ograniczenie wysokości obrazu */
  height: auto; /* Zachowanie proporcji */
  margin-bottom: 10px;
  object-fit: contain; /* Dopasowanie do kontenera bez zniekształcania */
}

.produkt label {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

.produkt select {
    width: 100%;
    padding: 5px;
    margin: 5px 0 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
}

.koszyk-btn {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.koszyk-btn:hover {
    background-color: #e64a19;
}

.produkt:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.produkt label,
.produkt select,
.koszyk-btn {
    width: 100%;
}
